<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Solo Project</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css"/>

</head>
<body>
<nav class="site-header">

    <div class="container-custom">
        <h4 class="text-white">Solo Project</h4>
    </div>
    <div class="container-custom">
        <a href="/login" class="text-white">Logout</a>
    </div>

</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>